[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/oddsound-mts/MTS-ESP"]
	path = libs/oddsound-mts/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP
[submodule "libs/sst/sst-plugininfra"]
	path = libs/sst/sst-plugininfra
	url = https://github.com/surge-synthesizer/sst-plugininfra
