# Build folders
ignore/
build*/
Build*/
cmake-build-*/

# Visual Studio
obj/
*.sln
*.vcxproj*
*.pdb
.vs/
packages/
target/
packages.config

# VSCode
.vscode/
*.code-workspace

# XCode
*.xcworkspace/
*.xcodeproj/

# Qt Creator
*.txt.user*

# Addons
.cache/
.clang-tidy
CMakeSettings.json
CMakeUserPresets.json
-.json

# Files
.so
.dll
.app
.out
.exe
.dmg
.deb
.rpm
.a
.o
.obj
Makefile
*.make

# DAW stuff
.RPP
.RPP-bak

# System artefacts
.DS_Store

# Room for notes
.idea
minst.sh
__pycache__
