//------------------------------------------------------------------------
//
// Project     : base
// Filename    : iosrelease.xcconfig
// Created by  : Steinberg, 9/2013
// Copyright   : 2013 Steinberg Media Technologies GmbH. All rights reserved.
// Description : Xcode Release Configuration using c++11 and libc++
//
//------------------------------------------------------------------------
#include "iosbase"
#include "settings/release"
